/.vscode
/ALTER TABLE job_applied.sql
/ALTER TABLE job_applied2.sql
/ALTER TABLE job_applied3.sql
/Alter TABLE job_applied4.sql
/CREATE TABLE job_applied(.sql
/csv_files
/drive-download-20260309T175942Z-1-001.zip
/postgres.session.sql
/sql_load
/Test.sql
/TRUNCATE TABLE job_applied;.sql
/UPDATE job_applied.sql